<nav class="navbar navbar-expand-lg navbar-dark bg-primary  mynav navbar-fixed-top">
    <a href="/home" class="navbar-brand pull-left"><img src="assets/logo_F.png" height="30px"> Music</a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li  *ngIf="authService.loggedIn()" class="nav-item"  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
          <a class="nav-link" [routerLink]="['/home']">Accueil</a>  
        </li>
       
        
        
      </ul>
     

     <ul class="nav navbar-nav navbar-right">
        <li *ngIf="authService.loggedOut()" class="nav-item"  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a class="nav-link"  [routerLink]="['/login']">Se connecter</a>
          </li>
        <li *ngIf="authService.loggedOut()" class="nav-item"  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
          <a class="nav-link"  [routerLink]="['/register']">S'enregistrer</a>
        </li>
        <li *ngIf="authService.loggedIn()" class="nav-item" >
            <a class="nav-link" (click)="onLogoutClick()"href="#" >Se déconnecter</a>
        </li>
       
      </ul>
    </div>
  </nav>